nav{
    width: 98%;
    background-color: bisque;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#list{
    float: right;    
    
}
.container{
  background-color: gainsboro;  
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: "div div div";
  align-items: center;
  justify-content:space-evenly;
  margin:20px;
}
.eachThumbnail{
margin: 20px;
display:flex;
flex-direction: column;    
}

.Description{
    
    margin: auto;
    justify-content: center;
    text-align: justify;
   
}
.image{
    margin: auto;
    width: 100%;
}

.viewbutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}
.editButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}
.deleteButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    
    margin: auto;    
    border: 1px solid #888;
    width: 50%;
    height: auto;
    position: relative;
   
}

/* The Close Button */
.close {
    color:white;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.mapbox{
    background-color: #4CAF50;  
    position: absolute;
    top: 0px;
    right:0px;
   
    border: 2px solid black;
    border-radius: 2px;
    width: 20%;
    height: 20%;
    z-index: 3;
}
